@font-face {
  font-family: 'RobotoBold';
  src: url('./Assets/Fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoHead';
  src: url('./Assets/Fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'RobotoGeneral';
  src: url('./Assets/Fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto-Light.ttf');
  font-weight:normal;
  font-style: normal;
}

.Header {
  width: 100%;
  background: rgb(0,125,80);
  display: flex;
  justify-content: center;
  height: 90px;
  align-items: center;
}

.Header img {
  height: 70px;
}

.Navigations {
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Requesting button {
  background-color: rgb(0,125,80);
  border-style: none;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  color: #ffffff;
  font-family: 'RobotoGeneral';
}

.Background {
  background-image: url("./Assets/MainBackground.jpg");
  background-size: cover;
  background-position: top;
}

.Align-Background {
  background-color: rgba(0, 0, 0, 0.649);
  transition: background-color 0.2s ease;
}

.Align-Background a {
  text-decoration: none;
}

.Brochure{
  width: 100%;
  height: 100%;
  padding: 20px;
}

.Website {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.Overview {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.Brochure:hover {
  background-color: rgba(17, 79, 94, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-out;
}

.Website:hover {
  background-color: rgba(0, 125, 79, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-out;
}

.Overview:hover {
  background-color: rgba(247, 160, 47, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-out;
}


.Requesting p {
  font-family:  'RobotoGeneral';
}

.Requesting button:hover {
  background-color: rgb(0, 78, 49);
}