.Header {
  width: 100%;
  background: #00a408;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: flex-end;
}

.Header img {
  height: 80px;
  margin-bottom: -40px;
}

.Navigations {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Requesting button {
  background-color: #116700;
  border-style: none;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
